// Variables para el tema claro
$primary: #ff0000;
$secondary: #a1a1a1; 
$success: #00ff08;  
$info: #002cee; 
$warning: #cefc00;
$danger: #FF6F61; 
$light: #8f8f8f;  
$dark: #5D5C61; 
$body-bg: #fcfbf9; 
$text-color: #4b4b4b; 
